In [6]:
import pandas as pd
data = pd.read_csv('dataset.csv')
data.head()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

In [7]:
print(data.isnull().sum())

age                    0
sex                    0
chest pain type        0
resting bp s           0
cholesterol            0
fasting blood sugar    0
resting ecg            0
max heart rate         0
exercise angina        0
oldpeak                0
ST slope               0
target                 0
dtype: int64

In [8]:
from sklearn.preprocessing import OneHotEncoder

# Identify categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns

# Initialize OneHotEncoder
encoder = OneHotEncoder(drop='first', sparse=False)

# Apply OneHotEncoder to categorical columns
encoded_data = pd.DataFrame(encoder.fit_transform(data[categorical_columns]), columns=encoder.get_feature_names_out(categorical_columns))

# Combine encoded categorical columns with numerical columns
numerical_data = data.drop(columns=categorical_columns)
processed_data = pd.concat([numerical_data, encoded_data], axis=1)

ModuleNotFoundError: No module named 'sklearn'